/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
  --bg-color: #ffedf7;
  --accent-color: #FF8DCB;
  --header-accent-color: #353430;
  --header-title-color: #FFC2E6;
  --main-title-color: #353430;
  --title-decor-text-color: #353430;
  --main-text-color: #353430;
  }

  .theme-auto .header__rec {
    display: none;
  } 
}

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #ffedf7;
  --accent-color: #FF8DCB;
  --header-accent-color: #353430;
  --header-title-color: #FFC2E6;
  --main-title-color: #353430;
  --title-decor-text-color: #353430;
  --main-text-color: #353430;
}

.theme-light .header__rec {
  display: none;
}